<!DOCTYPE html>
<html lang="ko">
<head>
  <% include ./partial/head.ejs %>
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css">

</head>
<body>
  <div class="king">
    <div class="container">
      <div class="home-box">
        <h3 class="hero-heading">SDP</h3>
      </div>
      <div class="king-button">
        <a href="/">
          <div class="button">시작하기</div> </a>
        <div class="schedule">구글스토어, 앱스토어 12월 출시예정</div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="test">
      <h3 class="hero-heading">test</h3>
    </div>
  </div>
  <% include ./partial/footer.ejs %>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
