
  <!-- Basic Page Needs–––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>SDP</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta property="og:title" content="SDP"/>
  <meta property="og:site_name" content=="SDP"/>
  <meta property="og:type" content="website"/>
  <meta property="og:image:width" content="400" />
  <meta property="og:image:height" content="210" />
  <meta property="og:description" content="SDP"/>

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <!-- FONT–––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/dist/css/normalize.css">
  <link rel="stylesheet" href="/dist/css/skeleton.css">
  <link rel="stylesheet" href="/css/custom.css">
  <link rel="icon" type="image/png" href="/favicon.ico">
